{% extends 'board/_base.html' %}
{% block bootstrap5_title %}{{ block.super }} - Index{% endblock bootstrap5_title %}
{% block page_content %}
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container top-0 end-0 p-3" hx-ext="sse"
         sse-connect="{% url 'events' event_name='toasts' %}"
         sse-swap="message" id="toast-container" hx-swap="beforeend">
    </div>
</div>
<div class="container mt-2">
    <div class="row" htx-get="{% url 'list-tickets' %}" hx-swap="innerHTML" hx-trigger="every 5s">
        {% for ticket, fields_and_values in ticket.items %}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body" hx-get="{% url 'ticket-status' ticket=ticket %}"  hx-swap="innerHTML" hx-trigger="every 5s">
                    <h2 class="card-title font-weight-bold">{{ ticket }}</h2>
                    {% for meal_name, qty in fields_and_values.items %}
                    {% for i in ""|rjust:qty %}
                    <strong class="card-text">{{ meal_name }}</strong>
                    <div class="d-flex flex-row justify-content-between align-self-end mb-3">
                        <div id="image-container" hx-get="{% url 'load-image' name=meal_name %}" hx-swap="innerHTML"
                            hx-trigger="load"></div>
                        <div class="flex-column align-self-end">
                            <div class="flex-column align-self-end">
                                <a href="#" class="btn btn-primary" hx-get="{% url 'cook-meal' ticket=ticket meal_name=meal_name %}"
                                  hx-swap="outerHTML"  hx-trigger="click"  hx-indicator="on">Start Cook</a>
                            </div>

                        </div>
                    </div>

                        {% endfor %}

                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock page_content %}
